<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Face detect</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/faces">Faces Avaliable</a></li>
        <li><a routerLink="/detectThroughCamera">Detect a face</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="row">
  <div class=" col-md-offset-2">
    <button class="btn btn-success btn-lg col-md-offset-0" routerLink="/findSimilarFaces">find a face</button>
    <button class="btn btn-success btn-lg col-md-offset-0" routerLink="/addFace">Add a face</button>
  </div>  
</div>

<router-outlet></router-outlet>